<app-modal [open]="open" header="Create project">
    <app-spinner *ngIf="loading"></app-spinner>
    <project-common-form (onCancel)="cancel()" (onSubmit)="create($event)"></project-common-form>
</app-modal>
