.container {
	$gap: 20px;
	box-sizing: border-box;
	padding: $gap;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.elements {
		$dim: min(calc(100vw - #{$gap} * 2), calc(100vh - #{$gap} * 2));
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		width: $dim;
		height: $dim;
		gap: $gap;

		.element {
			$el-dim: calc(((#{$dim}) - $gap) / 2);
			width: $el-dim;
			height: $el-dim;
		}
	}
}
