<div class="container">
    <div class="elements">
        <button mat-raised-button color="primary" class="element" (click)="users()">
            <h1>Users</h1>
        </button>
        <button mat-raised-button color="primary" class="element" (click)="teams()">
            <h1>Teams</h1>
        </button>
        <button mat-raised-button color="primary" class="element" (click)="tasks()">
            <h1>Tasks</h1>
        </button>
        <button mat-raised-button color="primary" class="element" (click)="projects()">
            <h1>Projects</h1>
        </button>
    </div>
</div>
