<app-modal [open]="open" header="Update task">
    <app-spinner *ngIf="loading"></app-spinner>
    <task-common-form
        [default]="existing"
        (onCancel)="cancel()"
        (onSubmit)="update($event)"
    ></task-common-form>
</app-modal>
