<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedData">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let team">
            <a routerLink="/team/{{ team.id }}">{{ team.id }}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let team">{{ team.name }}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let team">{{ team.createdAt | formatDate }}</td>
    </ng-container>
    <ng-container matColumnDef="actions" *ngIf="withActions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let team">
            <button mat-icon-button (click)="emitUpdate(team)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="emitDelete(team)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
