@keyframes rotate {
	from {
		transform: rotateZ(0);
	}

	25% {
		transform: rotateZ(90deg);
	}

	50% {
		transform: rotateZ(180deg);
	}

	75% {
		transform: rotateZ(270deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

.loader {
	width: 60px;
	height: 60px;
	border: 10px solid #dddddd;
	border-top-color: #777777;
	border-radius: 50%;
	animation-name: rotate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
