<form [formGroup]="schema">
    <app-spinner *ngIf="loading"></app-spinner>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngFor="let error of getErrors('name')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngFor="let error of getErrors('description')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select [value]="schema.get('state')?.value" (valueChange)="schema.get('state')?.setValue($event)">
            <mat-option [value]="0">
                To Do
            </mat-option>
            <mat-option [value]="1">
                In Progress
            </mat-option>
            <mat-option [value]="2">
                Done
            </mat-option>
            <mat-option [value]="3">
                Cancelled
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Performer</mat-label>
        <mat-select [value]="schema.get('performerId')?.value" (valueChange)="schema.get('performerId')?.setValue($event); log(schema.get('performerId')?.value)">
            <mat-option [value]="null">
                None
            </mat-option>
            <mat-option [value]="user.id" *ngFor="let user of userOptions">
                {{ user.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select [value]="schema.get('projectId')?.value" (valueChange)="schema.get('projectId')?.setValue($event)">
            <mat-option [value]="project.id" *ngFor="let project of projectOptions">
                {{ project.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Finished at</mat-label>
        <input matInput formControlName="finishedAt" [max]="maxFinishedAt" [matDatepicker]="finishedAtPicker" />
        <mat-datepicker-toggle matSuffix [for]="finishedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #finishedAtPicker></mat-datepicker>
    </mat-form-field>
    <div class="centered">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="submit()"
            [disabled]="!isStrictValid()"
        >
            {{ default ? 'Update' : 'Create' }}
        </button>
    </div>
</form>
