<app-modal [open]="open" header="Create team">
    <app-spinner *ngIf="loading"></app-spinner>
    <team-common-form (onCancel)="cancel()" (onSubmit)="create($event)"></team-common-form>
</app-modal>
