.dimmer {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #00000088;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&.open {
		display: flex;
	}
}
