<app-modal [open]="open">
    <h3 class="header">{{ message }}</h3>
    <div class="center">
        <button mat-button (click)="emitCancel()">Cancel</button>
        <button mat-raised-button color="warn" (click)="emitConfirm()">OK</button>
    </div>
</app-modal>
