<app-modal [open]="open" header="Create task">
    <app-spinner *ngIf="loading"></app-spinner>
    <task-common-form (onCancel)="cancel()" (onSubmit)="create($event)"></task-common-form>
</app-modal>
