<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedData">
    <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header="id" *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let project">
            <a routerLink="/project/{{ project.id }}">{{ project.id }}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let project">{{ project.name }}</td>
    </ng-container>
    <ng-container matColumnDef="author">
        <th mat-header-cell mat-sort-header="author" *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let project">
            <ng-container *ngIf="project.author">
                <a routerLink="/user/{{ project.author.id }}">{{ project.author | username }}</a>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="team">
        <th mat-header-cell mat-sort-header="team" *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let project">
            <ng-container *ngIf="project.team">
                <a routerLink="/team/{{ project.team.id }}">{{ project.team.name }}</a>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="deadline">
        <th mat-header-cell mat-sort-header="deadline" *matHeaderCellDef>Deadline</th>
        <td mat-cell *matCellDef="let project">{{ project.deadline | formatDate }}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell mat-sort-header="createdAt" *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let project">{{ project.createdAt | formatDate }}</td>
    </ng-container>
    <ng-container matColumnDef="actions" *ngIf="withActions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let project">
            <button mat-icon-button (click)="emitUpdate(project)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="emitDelete(project)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
