form {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	.centered {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-bottom: 7px;
		box-sizing: border-box;
		column-gap: 10px;
	}
}
