<form [formGroup]="schema">
    <app-spinner *ngIf="loading"></app-spinner>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngFor="let error of getErrors('name')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngFor="let error of getErrors('description')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input matInput formControlName="deadline" [min]="minDeadline" [matDatepicker]="deadlinePicker" />
        <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
        <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select [value]="schema.get('teamId')?.value" (valueChange)="schema.get('teamId')?.setValue($event)">
            <mat-option [value]="null">
                None
            </mat-option>
            <mat-option [value]="team.id" *ngFor="let team of teamOptions">
                {{ team.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Author</mat-label>
        <mat-select [value]="schema.get('authorId')?.value" (valueChange)="schema.get('authorId')?.setValue($event)">
            <mat-option [value]="null">
                None
            </mat-option>
            <mat-option [value]="user.id" *ngFor="let user of userOptions">
                {{ user.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="centered">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="submit()"
            [disabled]="!isStrictValid()"
        >
            {{ default ? 'Update' : 'Create' }}
        </button>
    </div>
</form>
