<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="data" class="container">
    <h2>
        <span>User with email '{{ data.email }}' ({{ data.id }}) </span>
        <a [routerLink]="allRoute">Go to all users</a>
    </h2>
    <p *ngIf="data.firstName">
        First name - {{ data.firstName }}
    </p>
    <p *ngIf="data.lastName">
        Last name - {{ data.lastName }}
    </p>
    <p *ngIf="data.teamId !== undefined">
        <span>Team ID - </span>
        <a routerLink="/team/{{ data.teamId }}">{{ data.teamId }}</a>
    </p>
    <p>
        Registered at {{ data.registeredAt | formatDate }}, birth day at {{ data.birthDay | formatDate }}
    </p>
    <user-update-modal
        [open]="updating"
        [id]="data.id"
        [existing]="data"
        (onCancel)="cancelUpdate()"
        (onUpdate)="replace($event)"
    ></user-update-modal>
    <user-delete-modal
        [open]="deleting"
        [id]="data.id"
        (onCancel)="cancelDelete()"
        (onDelete)="remove()"
    ></user-delete-modal>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="openUpdateModal()">Update</button>
        <button mat-raised-button color="warn" (click)="openDeleteModal()">Delete</button>
    </div>
</div>
