<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedData">
    <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header="id" *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user">
            <a routerLink="/user/{{ user.id }}">{{ user.id }}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header="email" *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header="firstName" *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header="lastName" *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="team">
        <th mat-header-cell mat-sort-header="team" *matHeaderCellDef>Team ID</th>
        <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="user.teamId !== undefined">
                <a routerLink="/team/{{ user.teamId }}">{{ user.teamId }}</a>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="registeredAt">
        <th mat-header-cell mat-sort-header="registeredAt" *matHeaderCellDef>Registered at</th>
        <td mat-cell *matCellDef="let user">{{ user.registeredAt | formatDate }}</td>
    </ng-container>
    <ng-container matColumnDef="birthDay">
        <th mat-header-cell mat-sort-header="birthDay" *matHeaderCellDef>Birth day</th>
        <td mat-cell *matCellDef="let user">{{ user.birthDay | formatDate }}</td>
    </ng-container>
    <ng-container matColumnDef="actions" *ngIf="withActions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
            <button mat-icon-button (click)="emitUpdate(user)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="emitUpdate(user)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
