<div class="container">
    <app-spinner *ngIf="loading"></app-spinner>
    <user-create-modal
        [open]="creating"
        (onCancel)="cancelCreate()"
        (onCreate)="add($event)"
    ></user-create-modal>
    <user-update-modal
        [open]="updating"
        [id]="updatingObject?.id"
        [existing]="updatingObject"
        (onCancel)="cancelUpdate()"
        (onUpdate)="replace($event)"
    ></user-update-modal>
    <user-delete-modal
        [open]="deleting"
        [id]="deletingId"
        (onCancel)="cancelDelete()"
        (onDelete)="remove($event)"
    ></user-delete-modal>
    <div class="head">
        <h1>
            <span>Users </span>
            <a routerLink="/">Go to main page</a>
        </h1>
        <button mat-raised-button color="primary" (click)="openCreateModal()">Create</button>
    </div>
    <div class="table">
        <user-table
            [data]="data"
            [withActions]="true"
            (onUpdate)="openUpdateModal($event)"
            (onDelete)="openDeleteModal($event)"
        ></user-table>
    </div>
</div>
