<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedData">
    <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header="id" *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let task">
            <a routerLink="/task/{{ task.id }}">{{ task.id }}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let task">{{ task.name }}</td>
    </ng-container>
    <ng-container matColumnDef="project">
        <th mat-header-cell mat-sort-header="project" *matHeaderCellDef>Project ID</th>
        <td mat-cell *matCellDef="let task">
            <a routerLink="/project/{{ task.projectId }}">{{ task.projectId }}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="performer">
        <th mat-header-cell mat-sort-header="performer" *matHeaderCellDef>Performer</th>
        <td mat-cell *matCellDef="let task">
            <ng-container *ngIf="task.performer">
                <a routerLink="/user/{{ task.performer.id }}">{{ task.performer | username }}</a>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="state">
        <th mat-header-cell mat-sort-header="state" *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let task" [taskState]="task.state">{{ task.state | taskState }}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell mat-sort-header="createdAt" *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let task">{{ task.createdAt | formatDate }}</td>
    </ng-container>
    <ng-container matColumnDef="finishedAt">
        <th mat-header-cell mat-sort-header="finishedAt" *matHeaderCellDef>Finsihed at</th>
        <td mat-cell *matCellDef="let task">{{ task.finishedAt | formatDate }}</td>
    </ng-container>
    <ng-container matColumnDef="actions" *ngIf="withActions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let task">
            <button mat-icon-button (click)="emitUpdate(task)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="emitDelete(task)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>