.container {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	max-height: 100%;

	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.table {
		flex-grow: 1;
		overflow-y: auto;
	}
}
