<app-spinner *ngIf="loading"></app-spinner>
<div class="container" *ngIf="data">
    <h2>
        <span>Task '{{ data.name }}' ({{ data.id }}) </span>
        <a [routerLink]="allRoute">Go to all tasks</a>
    </h2>
    <p class="description" *ngIf="data.description">{{ data.description }}</p>
    <p>
        <span>Project ID - </span>
        <a routerLink="/project/{{ data.projectId }}">{{ data.projectId }}</a>
    </p>
    <p *ngIf="data.performer">
        <span>Performer - </span>
        <a routerLink="/user/{{ data.performer.id }}">{{ data.performer | username }}</a>
    </p>
    <p>
        <span>State - </span>
        <span [taskState]="data.state">{{ data.state | taskState }}</span>
    </p>
    <p>
        <span>Created at {{ data.createdAt | formatDate }}</span>
        <span *ngIf="data.finishedAt">, finished at {{ data.finishedAt | formatDate }}</span>
    </p>
    <task-update-modal
        [open]="updating"
        [id]="data.id"
        [existing]="data"
        (onCancel)="cancelUpdate()"
        (onUpdate)="replace($event)"
    ></task-update-modal>
    <task-delete-modal
        [open]="deleting"
        [id]="data.id"
        (onCancel)="cancelDelete()"
        (onDelete)="remove()"
    ></task-delete-modal>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="openUpdateModal()">Update</button>
        <button mat-raised-button color="warn" (click)="openDeleteModal()">Delete</button>
    </div>
</div>
