<form [formGroup]="schema">
    <app-spinner *ngIf="loading"></app-spinner>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngFor="let error of getErrors('email')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngFor="let error of getErrors('firstName')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngFor="let error of getErrors('lastName')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select [value]="schema.get('teamId')?.value" (valueChange)="schema.get('teamId')?.setValue($event)">
            <mat-option [value]="null">
                None
            </mat-option>
            <mat-option [value]="team.id" *ngFor="let team of teamOptions">
                {{ team.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Birth day</mat-label>
        <input matInput formControlName="birthDay" [max]="maxBirthDay" [matDatepicker]="birthDayPicker" />
        <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDayPicker></mat-datepicker>
    </mat-form-field>
    <div class="centered">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="submit()"
            [disabled]="!isStrictValid()"
        >
            {{ default ? 'Update' : 'Create' }}
        </button>
    </div>
</form>
