<app-modal [open]="open" header="Update user">
    <app-spinner *ngIf="loading"></app-spinner>
    <user-common-form
        [default]="existing"
        (onCancel)="cancel()"
        (onSubmit)="update($event)"
    ></user-common-form>
</app-modal>
