<app-modal [open]="open" header="Update project">
    <app-spinner *ngIf="loading"></app-spinner>
    <project-common-form
        [default]="existing"
        (onCancel)="cancel()"
        (onSubmit)="update($event)"
    ></project-common-form>
</app-modal>
