<app-spinner *ngIf="loading"></app-spinner>
<div class="container" *ngIf="data">
    <h2>
        <span>Project '{{ data.name }}' ({{ data.id }}) </span>
        <a [routerLink]="allRoute">Go to all projects</a>
    </h2>
    <p *ngIf="data.description" class="description">{{ data.description }}</p>
    <p>Created at {{ data.createdAt | formatDate }}, deadline - {{ data.deadline | formatDate }}</p>
    <p *ngIf="data.author">
        <span>Created by </span>
        <a routerLink="/user/{{ data.author.id }}">{{ data.author | username }}</a>
    </p>
    <p *ngIf="data.team">
        <span>Team - </span>
        <a routerLink="/team/{{ data.team.id }}">{{ data.team.name }}</a>
    </p>
    <project-update-modal
        [open]="updating"
        [id]="data.id"
        [existing]="data"
        (onCancel)="cancelUpdate()"
        (onUpdate)="replace($event)"
    ></project-update-modal>
    <project-delete-modal
        [open]="deleting"
        [id]="data.id"
        (onCancel)="cancelDelete()"
        (onDelete)="remove()"
    ></project-delete-modal>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="openUpdateModal()">Update</button>
        <button mat-raised-button color="warn" (click)="openDeleteModal()">Delete</button>
    </div>
    <h3>Tasks:</h3>
    <div class="table" *ngIf="data.tasks.length > 0">
        <task-table [data]="data.tasks"></task-table>
    </div>
</div>
