<app-dimmer [open]="open">
    <div class="modal">
        <div class="header" *ngIf="header">
            <h1>{{ header }}</h1>
        </div>
        <ng-content></ng-content>
    </div>
</app-dimmer>
