.modal {
	max-width: 600px;
	width: 100%;
	height: min-content;
	padding: 20px;
	box-sizing: border-box;
	background-color: white;

	.header {
		box-sizing: border-box;
		margin-bottom: 20px;

		& > * {
			padding: 0;
			margin: 0;
		}
	}
}
