<app-modal [open]="open" header="Create user">
    <app-spinner *ngIf="loading"></app-spinner>
    <user-common-form (onCancel)="cancel()" (onSubmit)="create($event)"></user-common-form>
</app-modal>
