<form [formGroup]="schema">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngFor="let error of getErrors('name')">
            {{ error }}
        </mat-error>
    </mat-form-field>
    <div class="centered">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="submit()"
            [disabled]="!isStrictValid()"
        >
            {{ default ? 'Update' : 'Create' }}
        </button>
    </div>
</form>
