body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

th {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

a {
	color: #33aaff;
	text-decoration: none;

	&:hover {
		color: #2277ff;
	}
}

.error-snackbar {
	background-color: #a90707;
	color: white;
}
