<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="data" class="container">
    <h2>
        <span>Team '{{ data.name }}' ({{ data.id }}) </span>
        <a [routerLink]="allRoute">Go to all teams</a>
    </h2>
    <p>Created at {{ data.createdAt | formatDate }}</p>
    <team-update-modal
        [open]="updating"
        [id]="data.id"
        [existing]="data"
        (onCancel)="cancelUpdate()"
        (onUpdate)="replace($event)"
    ></team-update-modal>
    <team-delete-modal
        [open]="deleting"
        [id]="data.id"
        (onCancel)="cancelDelete()"
        (onDelete)="remove()"
    ></team-delete-modal>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="openUpdateModal()">Update</button>
        <button mat-raised-button color="warn" (click)="openDeleteModal()">Delete</button>
    </div>
    <h3>Users:</h3>
    <div class="table" *ngIf="data.users.length > 0">
        <user-table [data]="data.users"></user-table>
    </div>
</div>
