<app-modal [open]="open" header="Update team">
    <app-spinner *ngIf="loading"></app-spinner>
    <team-common-form
        [default]="existing"
        (onCancel)="cancel()"
        (onSubmit)="update($event)"
    ></team-common-form>
</app-modal>
