.container {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	max-height: 100%;

	.description {
		width: max(40%, 600px);
	}

	.buttons {
		display: flex;
		column-gap: 10px;
	}

	.table {
		flex-grow: 1;
		overflow-y: auto;
	}
}
